@using CsharpSite.Models
@using CsharpSite.Controllers
@{
    
    ViewBag.Title = "Index";
}
<h1>CodeCap</h1>
<h3>Welcome to CodeCap, @( ((Auth)Session[Auth.AUTH_USER_SESSION_NAME])?.User?.Username )</h3>

@Html.Partial( "../Shared/NavBar" )

<a href="/Session/Register">Register</a><br />
<a href="/Session/Login">Login</a>

<h3>List of current users</h3>
<table class="table table-striped" style="width: 500px;" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    @foreach (var user in ViewBag.users) {
        <tr>
            <td>@user.UserId</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
            
        </tr>
    } 
</table>

<h3>List of current posts</h3>
@foreach (var post in ViewBag.posts) {
    <div style="box-sizing: border-box; margin: 0.5em;">
        <div>
            @post.PostId 
            <div style="margin-left: 1em; font-weight: bold; font-size:1.3em; display: inline-block">@post.Title</div>
            <div style="display: inline-block; margin-left: 0.5em; color: #aaaaaa"><small>by </small> @post.User.Username</div>
        </div>
        <div style="margin: 0.5em; margin-left: 1em; box-sizing:border-box; padding: 0.5em; background: #f4f4f4; border: 1px solid #eaeaea; border-radius: 1em; width: 500px; height: 200px;">
            @post.Contents
        </div>
        <div style="margin-left: 3em;">
            @foreach(var comment in post.Comments) {
                <div style="border-bottom: 1px solid #dddddd; min-height: 2em; width: 400px;">
                    <div>
                        <b>@comment.User.Username</b>
                    </div>
                    <div style="padding: 0.5em;">
                        @comment.Contents
                    </div>
                </div>

            }
        </div>
        <div>
            @post.Reactions.Count
        </div>
    </div>
    <hr />
}


<h3>List of groups and their members</h3>
@foreach (var group in ViewBag.groups) {
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="2"><b>@group.Name</b></td>
            </tr>
            <tr>
                <td colspan="2"><small><i>@group.Description</i></small></td>
            </tr>
        </thead>
        @foreach (var member in group.Members) {
            <tr>
                <td style="min-width: 200px; padding: 1em;">@member.Username</td>
                <td>@member.Email</td>
            </tr>
        }
    </table>
}

<h3>Posts by user</h3>
@foreach (var user in ViewBag.Users) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="3">@user.Username</th>
            </tr>
            <tr>
                <th>Post ID</th>
                <th>Post Title</th>
                <th width="500px" style="text-overflow: ellipsis; white-space:nowrap">Post Contents</th>
            </tr>
        </thead>
        @foreach (var post in user.Posts) {
            <tr>
                <td>@post.PostId</td>
                <td>@post.Title</td>
                <td width="500px" style="text-overflow: ellipsis; white-space:nowrap">@post.Contents</td>
            </tr>
        }

    </table>
    <br />
}

<h3>Followers for User @ViewBag.users[0].Username</h3>
<table class="table table-striped">
    @foreach (var follower in ViewBag.users[0].Followers) {
        <tr>
            <td>@follower.Username</td>
            <td>@follower.Email</td>
        </tr>
    }
</table>

<h3>Following for User @ViewBag.users[0].Username</h3>
<table class="table table-striped">
    @foreach (var follower in ViewBag.users[0].Following) {
        <tr>
            <td>@follower.Username</td>
            <td>@follower.Email</td>
        </tr>
    }
</table>
