 <!-- ========================================= FEED ================================================== -->
    <!-- search user test -->
    <input type="text" id="aac" placeholder="Search a user"/>
    <ul id="aab">

    </ul>
    <hr />
    <script>
        $("#aac").on("keyup", function () {
            var v = $("#aac").val();
            $("#aab").empty();

            if (v.length > 0) {
                $.ajax({
                    method: "post",
                    url: "/Follow/SearchUser",
                    data: {
                        search: v
                    },
                    success: function (resp) {
                        var r = resp;//JSON.parse(resp);

                        for (var i = 0; i < r["data"].length ; i++) {
                            $("#aab").append("<li>" + r["data"][i]["Username"] + " <form method='POST' action='/Follow/Follow/" + r["data"][i]["UserId"] + "'><input type='submit' value='Follow'/> </form><form method='POST' action='/Follow/Unfollow/" + r["data"][i]["UserId"] + "'><input type='submit' value='Unfollow'/> </form></li>");

                        }
                    }
                });
            }
            
        });
    </script>
    <!-- end search user test -->

    <ul class="ca qo anx" id="feed">

        <li class="qf b aml">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write a post">
                <div class="fj">
                    <button type="button" class="cg fm">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="cg fm">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </li>
        <!--
        @foreach (var post in ViewBag.feed) {
            <li class="qf b aml">
                <a class="qj" href="#">
                    <img class="qh cu"
                         src="~/Content/images/@(post.User.UserId).jpg">
                </a>
                <div class="qg">
                    <div class="aoc">
                        <div class="qn">
                            <small class="eg dp">@post.Publication_date</small>
                            <h5>@post.User.Username</h5>
                        </div>
                        <p>
                            @post.Contents
                        </p>
                        <div>
                            @foreach(var reactionT in ViewBag.reactionTypes) {
                                @(post.CountReactionsOfType(reactionT.ReactionId) )<i class="btn-react fa @(reactionT.Icon)" data-postid="@(post.PostId)"data-reactionid="@(reactionT.ReactionId)" title="@(reactionT.Name)" style="color: gray; cursor: pointer;" aria-hidden="true"></i>
                                
                            }
                        </div>
                        <ul class="qo alm">
                            @foreach (var comment in post.Comments) {
                                <li class="qf">
                                    <a class="qj" href="#">
                                        <img class="qh cu"
                                             src="~/Content/images/@(comment.User.UserId).jpg">
                                    </a>
                                    <div class="qg">
                                        <strong>@comment.User.Username: </strong>
                                        @comment.Contents
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </li>

        }
        -->

    </ul>
<!-- ========================================= END FEED ================================================ -->
<script>
   
    $(function () {
        feedAutoRefresh();
    });

    function feedAutoRefresh() {
        $.ajax({
            url: '/Feed/GetFeed',
            method: 'post',
            success: function (resp) {
                
                displayFeed(resp);
                
            }
        });
    }
    function feedRefresh() {
        
    }

    function displayFeed(feedsjson) {
        $("#feed").empty();
        $("#feed").append('<li class="qf b aml">'
            +'<div class="input-group">'
                +'<input type="text" class="form-control" placeholder="Write a post">'
                +'<div class="fj">'
                    +'<button type="button" class="cg fm">'
                        +'<i class="fa fa-file-text" aria-hidden="true"></i>'
                    +'</button>'
                    +'<button type="button" class="cg fm">'
                        +'<i class="fa fa-camera" aria-hidden="true"></i>'
                    +'</button>'
                +'</div>'
            +'</div>'
        + '</li>');
        var element = "";
        alert(feedsjson['data']);
        for (var i = 0; i < feedsjson['data'].length; i++) {
            
            var post = feedsjson['data'][i];
            var usr = post['User'];
            element += 
            '<li class="qf b aml">'
                +'<a class="qj" href="#">'
                    +'<img class="qh cu"'
                         +'src="/Content/images/'+usr['UserId']+'.jpg">'
                +'</a>'
                +'<div class="qg">'
                    +'<div class="aoc">'
                        +'<div class="qn">'
                            +'<small class="eg dp">'+post["Publication_date"]+'</small>'
                            +'<h5>'+usr["Username"]+'</h5>'
                        +'</div>'
                        +'<p>'
                            +post["Contents"]
                        +'</p>'
                        +'<div>';
            for (var k = 0; k < post['Reactions'].length; k++) {
                var react = post['Reactions'][k];
                element += '<span style="margin-right: 0.5em;"><i class="btn-react fa '+react['icon']+'" '
                    +'data-postid="'+post['PostId']+'"data-reactionid="'+react['reactionid']+')" title="'+react['name']
                    + '" style="color: gray; cursor: pointer;" aria-hidden="true"></i>' + react['count'] + '</span>';

            }
            element += '</div>'
                        + '<ul class="qo alm">';
            for(var j = 0; j < post['Comments'].length; j++){
                var comment = post['Comments'][j];
                var cusr = comment['User'];

                element += '<li class="qf">'
                            +'<a class="qj" href="#">'
                                +'<img class="qh cu" src="/Content/images/'+cusr["UserId"]+'.jpg">'
                            +'</a>'
                            +'<div class="qg">'
                                +'<strong>'+cusr["Username"]+': </strong>'
                                +comment['Contents']
                            +'</div>'
                        +'</li>';
            }

            element += '</ul>'
                +'</div>'
            +'</div>'
        +'</li>';


        }
        $("#feed").append(element);
        refreshActions();
    }

</script>