@using CsharpSite.Models;
@using CsharpSite.Controllers;
@{
    var targetUser = ViewBag.targetUser;
    var connUser = ViewBag.connUser;

}

<div class="box-wrapper-real">
    <div id="preloader">
        <div class="spinner">&nbsp;</div>
    </div>


    @Html.Partial( "~/Views/Shared/NavBar.cshtml" )

    
    <!--bio-->
    <div class="ans dj"
         style="background-image: url(/Content/images/@(targetUser.UserId)_background.jpg);">
        <div class="by">
            <div class="ant">
                <img class="cu qh" src="~/Content/images/@(targetUser.UserId).jpg">
                <h3 class="anv">Sasha Benjamin</h3>
                <p class="anu">
                    @(targetUser.Description)
                </p>

                <ul class="aoi" style="color: #fff;">
                    <li class="aoj">
                        <a href="#userModal" class="aku" data-toggle="modal">
                            Firends
                            <h5 class="ali">
                                @{
                                    var following = "";
                                }
                                @if (targetUser.Following.Count > 999) {
                                    following = (targetUser.Following.Count / 1000) + "K";
                                } else {
                                    following = targetUser.Following.Count + "";
                                }
                                @(following)
                            </h5>
                        </a>
                    </li>
                    
                    <li class="aoj">
                        <a href="#userModal" class="aku" data-toggle="modal">
                            Post
                            <h5 class="ali">
                                @{
                                    var posts = "";
                                }
                                @if (targetUser.Posts.Count > 999) {
                                    posts = (targetUser.Posts.Count / 1000) + "K";
                                } else {
                                    posts = targetUser.Posts.Count + "";
                                }
                                @(posts)

                            </h5>
                        </a>
                    </li>

                </ul>
            </div>
            @if (connUser.UserId != targetUser.UserId) {
                <div style="margin-top: 2em;">
                    @if (connUser.Follows( targetUser.UserId )) {
                        <a class="btn btn-unfollow" data-targetid="@targetUser.UserId" style="color: white">Unfollow</a>

                    } else {
                        <a class="btn btn-follow" data-targetid="@targetUser.UserId" style="color: white">Follow</a>
                    }
                </div>
            }
            
        </div>

        <nav class="anw">
            <ul class="nav ol">
                <li class="active">
                    <a href="#feed">Posts</a>
                </li>

            </ul>
        </nav>
    </div>


    <div class="cd fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Users</h4>
                </div>
                @Html.Partial( "~/Views/Shared/FirendsList.cshtml" );
            </div>
        </div>
    </div>
    <div class="by amt">
        <div class="gc">
            <div class="gn">
                <div class="qv rc aog alu">
                    <div class="qx" style="background-image: url(~/Content/images/@(connUser.UserId)_background.jpg);"></div>
                    <div class="qw dj">
                        <a href="profile/index.html">
                            <img class="aoh"
                                 src="~/Content/images/@(connUser.Picture)">
                        </a>

                        <h5 class="qy">
                            <a class="aku" href="/Profile/">@(connUser.First_name) @(connUser.Last_name)</a>
                        </h5>

                        <p class="alu">@(connUser.Description)</p>

                        <ul class="aoi">
                            <li class="aoj">
                                <a href="#userModal" class="aku" data-toggle="modal">
                                    Firends
                                    <h5 class="ali">
                                        @{
                                            following = "";
                                        }
                                        @if (connUser.Following.Count > 999) {
                                            following = (connUser.Following.Count / 1000) + "K";
                                        } else {
                                            following = connUser.Following.Count + "";
                                        }
                                        @(following)
                                    </h5>
                                </a>
                            </li>
                            <li class="aoj">
                                <a href="#userModal" class="aku" data-toggle="modal">
                                    Post
                                    <h5 class="ali">
                                        @{
                                            posts = "";
                                        }
                                        @if (connUser.Posts.Count > 999) {
                                            posts = (connUser.Posts.Count / 1000) + "K";
                                        } else {
                                            posts = connUser.Posts.Count + "";
                                        }
                                        @(posts)

                                    </h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="qv rc sm sp">
                    <div class="qw">
                        <h5 class="ald">About <small>· <a href="#">Edit</a></small></h5>
                        <ul class="eb tb">
                            @if (connUser.Following.Count > 0) {
                                <li><i class="fa fa-users dp all" aria-hidden="true"></i>Became friends with <a href="/Profile/View/@(connUser.Following[connUser.Following.Count -1].UserId)">@(connUser.Following[connUser.Following.Count -1].Username)</a></li>
                            }
                            <li><i class="fa fa-globe dp all" aria-hidden="true"></i>Lives in <a href="#">@(connUser.City.Name), @(connUser.Country.Name)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="qv rc sm sp">
                    <div class="qw">
                        <h5 class="ald">Trending <small>· <a href="#">Change</a></small></h5>
                        <ul class="eb tb">
                            <li><a href="#">#CodeCap</a>
                            <li><a href="#">TeamAhuntsic</a>
                            <li><a href="#">#USA</a>
                            <li><a href="#">#Montreal</a>
                            <li><a href="#">#LearnToCode</a>
                            <li><a href="#">#Java</a>
                            <li><a href="#">#2017</a>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ========================================= END USERS INFO ================================================== -->
            <!-- ========================================= MIDDLE SECTION ================================================== -->
            <div class="gz" style="margin-top: -20px;">

