
@{
    ViewBag.Title = "Profile";
    var connUser = ViewBag.connUser;
}
@Html.Partial( "~/Views/Shared/CoreLayout_Top.cshtml" )


<img src="~/Content/images/@(connUser.UserId).jpg"/><br />
<h3 style="display: inline-block">@connUser.First_name&nbsp;@connUser.Last_name</h3>&nbsp;<h4 style="color: gray; display: inline-block;font-style:italic">(@(connUser.Username))</h4><br />
<br/>

<a href="/Profile/Edit">Edit profile</a>

@Html.Partial("~/Views/Feed/FeedPartial.cshtml");


@Html.Partial( "~/Views/Shared/CoreLayout_Bottom.cshtml" )


